
body { 
    background-color: cyan;
}

.header {
    background-image: url("tree.jpeg");

    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    text-align: center;

    font-family:'Verdana';
    font-size: 30px;
    color: rgb(128, 0, 122);
    border: 10px black;
}